<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Финасовый отчет сотрудника</h1>
<table>
    <tr>
        <th>ФИО</th>
        <th>Дата выплаты</th>
        <th>Зарплата до выч</th>
        <th>Льготы</th>
        <th>Налоги</th>
        <th>Итоговая сумма</th>
    </tr>
    <tr th:each="prc: ${PayRollCard}">
        <td th:text="${Employee.getFirstName()} + ' ' + ${Employee.getLastName()}">
        <td th:text="${prc.getPayday()}">
        <td th:text="${prc.getSalary()}">
        <td>
            <ul>
                <li th:each="benefit: ${prc.getTaxBenefit()}" th:text="${benefit.name}">
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="taxRate: ${prc.getTaxRate()}" th:text="${taxRate.name}">
            </ul>
        </td>
        <td th:text="${prc.getTotalAmount()}">
    </tr>
</table>
</body>
</html>
